{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          // "browsers": "> 5%, not dead",
          "node": "current"
        },
        // Adding polyfills if needed
        // `core-js` and `regenerator-runtime` should be installed
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ]
  ]
}
